<section class="lead_container">
    <header>
      <div class="logo">
        {% include logo.html %}
      </div>
    </header>


      <!--        Main Content          -->

    <div class="lead">
      <h1>"Friends don't let friends <br/> get a bad haircut!"</h1>
      <div class="button leadCta" id="leadCta" role="button">
        <span class="innerBtn">
        </span>
      </div>
    </div>

    {% include modal.html %}

      <!--        FOOTER           -->

    <footer>
      <div ><p class="min"><b>Disclaimer:</b> None of the content provided throughout this site is hosted on our servers, therefore, this site cannot be held responsible for the accurancy of the data!</p></div>
    </footer>
  </section>
